@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700;900&family=Darker+Grotesque:wght@300;400;700;900&family=Della+Respira&family=Lalezar&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(144.35deg, #4B0000, 21.8%, #000 68.28%);
}

/*----- HEADER -----*/

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    padding: 24px;
}

header img{
    width: 100px;
    height: auto;
    mix-blend-mode: lighten;
}

nav{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: flex-start;
}

nav a{
    font-family: 'Della Respira', serif;
    font-size: 1.2em;
    color: #fff;

    padding: 10px 20px;

    background: linear-gradient(180deg, #7E0202 0%, rgba(126, 2, 2, 0) 100%);
    filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;

    transition: .5s ease;
}

nav a:hover{
    background: none;
    border-bottom: 1px solid #fff;

    border-radius: 0;
}


/*----- MAIN -----*/

main{
    border-top: 1px solid #fff;
    color: #fff;
}

/*----- MAIN CONTENT -----*/

.content-main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    gap: 50px;

    margin-top: 50px;
}

.content-text{
    display: flex;
    flex-direction: column;
    gap: 2em;

    text-align: center;
}

.content-text h1{
    font-family: Cinzel;
    font-weight: 900;
    font-size: 60px;
}

.content-text h2{
    font-family: Della Respira;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.09em;
}

.content-text button{
    font-family: 'Della Respira', serif;
    width: 180px;
    height: 50px;
    padding: 10px 20px;

    font-size: 1.2em;
    color: #fff;

    background: linear-gradient(180deg, #7E0202 0%, rgba(126, 2, 2, 0) 100%);
    filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;

    margin: auto;

    transition: .5s ease;
}

.content-text button:hover{
    background: none;
    border-bottom: 1px solid #fff;

    border-radius: 0;
}

/*--- LOGO ---*/

.content-main img{
    mix-blend-mode: lighten;
    width: 350px;
    height: auto;
}


/*----- CASA TARGARYEN CONTENT -----*/

#CasaTargaryen{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2em;

    margin-top: 100px;

    font-family: Della Respira;
}

#CasaTargaryen h3{
    border-top: 1px solid #fff;

    padding-top: 20px;

    font-size: 30px;
}

#CasaTargaryen p{
    font-size: 20px;

    text-indent: 50px;

    width: 80vw;
}

.p_tgr{
    color: #950101;
}

.p_brt{
    color: #F78812;
}

.p_lnnt{
    color: #FF0000;
}



/*----- DRAGÕES CONTENT -----*/

#Dragoes{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;

    margin-top: 100px;

    font-family: 'Darker Grotesque', sans-serif;
}

#Dragoes h3{
    border-top: 1px solid #fff;

    padding-top: 20px;

    font-size: 30px;

    font-family: 'Della Respira', serif;
}

.content-dragoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    text-align: justify;

    width: 80vw;
}

.content-dragoes-text{
    margin-top: 20px;
}

#Dragoes h4{
    font-size: 30px;
    font-weight: 900;    

    margin-top: 20px;
}

#Dragoes p{
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 0.09em;
}

strong{
    font-weight: 600;
}

/*----- HISTORIA CONTENT -----*/

#Historia{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;

    margin-top: 100px;

    font-family: 'Della Respira', serif;
}

#Historia h3{
    border-top: 1px solid #fff;

    padding-top: 20px;

    font-size: 30px;
}

#Historia p{
    font-size: 20px;

    text-indent: 50px;

    width: 80vw;
}

/*----- FOOTER -----*/

footer{
    border-top: 1px solid #fff;

    margin-top: 50px;
}

footer h2{
    font-family: 'Cinzel', serif;
    font-size: 2em;
    color: #950101;

    text-align: center;

    padding: 30px;
}

/*----- ANIMATIONS -----*/

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.active{
    transform: translateY(0px);
    opacity: 1;
}

.btn-top{
    font-family: 'Della Respira', serif;
    width: 100px;
    height: 50px;

    margin: 100px 0 0 20px;
    
    font-size: 1.2em;
    color: #fff;

    background: linear-gradient(180deg, #7E0202 0%, rgba(126, 2, 2, 0) 100%);
    filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;

    cursor: pointer;
}